* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: absolute; */
}

/* estilizando header */
.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}

.trybewarts-header-logo {
  width: 80px;
  padding-left: 30px;
}

.trybewarts-login {
  display: flex;
  gap: 5px;
  padding-right: 30px;
}

.trybewarts-login input {
  /* width: 180px; */
  border-radius: 8px;
}

.trybewarts-login button {
  /* width: 180px; */
  border-radius: 8px;
}

/* estilizando corpo do form e logo */
#content {
  display: flex;
  justify-content: space-evenly;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

#evaluation-form h2{
  text-align: center;
}

#logo-tbw {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  z-index: -1; */
}

#logo-tbw img {
  width: 500px;
  height: 500px;
}

#head-form {
  display: flex;
  flex-direction: column;
}

/* #head-form input {
  width: 300px;
}

#head-form select {
  width: 300px;
} */

#infos-1 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#infos-2 {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

#pai-das-divs {
  display: flex;
  justify-content: space-around;
}

#second-form {
  display: flex;
  flex-direction: column;
}

#second-form-2 {
  display: flex;
  flex-direction: column;
}

#terc-form {
  display: flex;
  flex-direction: column;
}

#avaliação {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#form-foot {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

footer {
  background-color: rgb(71, 70, 70);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 60px;
}

@media (max-width: 1140px) {
  #logo-tbw {
    position: absolute;
    z-index: -1;
    width: 370;
    height: 500;
    opacity: 40%;
  }
  .trybewarts-login {
    display: block;
  }
  .header {
    gap: 15px
  }
  #pai-das-divs {
    margin: 0 0 0 7px;
  }
  #terc-form {
    margin: 0 4 0 4px;;
  }
}
